.container {
    width: 80vw; /* Full width of the viewport */
    height: 80vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflowing content */
}

img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}